In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
nt = pd.read_csv('netflix.csv')

In [7]:
nt.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [98]:
nt.shape

(5332, 12)

In [10]:
nt['show_id'].describe()

count     8807
unique    8807
top         s1
freq         1
Name: show_id, dtype: object

In [11]:
nt['type'].describe()

count      8807
unique        2
top       Movie
freq       6131
Name: type, dtype: object

In [12]:
nt['date_added'].describe()

count                8797
unique               1767
top       January 1, 2020
freq                  109
Name: date_added, dtype: object

In [27]:
nt['release_year'].describe()

count    8807.000000
mean     2014.180198
std         8.819312
min      1925.000000
25%      2013.000000
50%      2017.000000
75%      2019.000000
max      2021.000000
Name: release_year, dtype: float64

In [15]:
nt.count()

show_id         8807
type            8807
title           8807
director        6173
cast            7982
country         7976
date_added      8797
release_year    8807
rating          8803
duration        8804
listed_in       8807
description     8807
dtype: int64

In [16]:
nt.nunique()

show_id         8807
type               2
title           8807
director        4528
cast            7692
country          748
date_added      1767
release_year      74
rating            17
duration         220
listed_in        514
description     8775
dtype: int64

In [21]:
nt['country'].value_counts()[:1]

United States    2818
Name: country, dtype: int64

In [25]:
nt[nt['type'] == 'TV Show']['duration'].value_counts()

1 Season      1793
2 Seasons      425
3 Seasons      199
4 Seasons       95
5 Seasons       65
6 Seasons       33
7 Seasons       23
8 Seasons       17
9 Seasons        9
10 Seasons       7
13 Seasons       3
15 Seasons       2
12 Seasons       2
11 Seasons       2
17 Seasons       1
Name: duration, dtype: int64

In [26]:
nt[nt['country'] == 'United States']['listed_in'].value_counts()
#what type of content and with what frequency is available in each country

Documentaries                                         249
Stand-Up Comedy                                       209
Children & Family Movies, Comedies                     90
Dramas                                                 88
Comedies                                               84
                                                     ...
International TV Shows, Reality TV, TV Comedies         1
Kids' TV, TV Action & Adventure, TV Dramas              1
Anime Series, Crime TV Shows                            1
Anime Features, Music & Musicals, Sci-Fi & Fantasy      1
Cult Movies, Dramas, Thrillers                          1
Name: listed_in, Length: 310, dtype: int64

In [33]:
nt[nt['type'] == 'TV Show'].nunique()

show_id         2676
type               1
title           2676
director         222
cast            2283
country          196
date_added      1051
release_year      46
rating             9
duration          15
listed_in        236
description     2672
dtype: int64

In [34]:
nt[nt['type'] == 'Movie'].nunique()

show_id         6131
type               1
title           6131
director        4354
cast            5445
country          651
date_added      1533
release_year      73
rating            17
duration         205
listed_in        278
description     6105
dtype: int64

In [39]:
d_a = nt[nt['type'] == 'TV Show']['date_added']

In [48]:
#converting to datetime 
d_adt =  pd.to_datetime(d_a)
#extracting the most frequent month of launch
m_fl =  d_adt.dt.month.value_counts()

In [49]:
m_fl

12.0    266
7.0     262
9.0     251
8.0     236
6.0     236
10.0    215
4.0     214
3.0     213
11.0    207
5.0     193
1.0     192
2.0     181
Name: date_added, dtype: int64

In [97]:
nt.head()
nt.shape

(5332, 12)

In [66]:
nt[(nt['type'] == 'TV Show') & (nt['listed_in'] == 'Reality TV')]['director'].value_counts()
#for TV shows that are Reality TV we an find the details of only one director as the details of the directors of the rest 
#aren't available

Michael Simon    1
Name: director, dtype: int64

In [96]:
# Answer to point 2)
#Observations on the shape of data, data types of all the attributes, conversion of categorical attributes to 'category' 
#(If required), missing value detection, statistical summary

nt.shape

(5332, 12)

In [69]:
nt.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [101]:
#converting date added from string to datetime

nt['date_added'] = pd.to_datetime(nt['date_added'])

In [102]:
# null value detection
nl_nt = nt.isnull()

In [81]:
nl_nt['director'].value_counts()

False    6173
True     2634
Name: director, dtype: int64

In [85]:
#statsitical summary
include = ['object', 'int']
nt.describe(include = include)

,show_id,type,title,director,cast,country,release_year,rating,duration,listed_in,description
count,5332,5332,5332,5332,5332,5332,5332.000000,5332,5332,5332,5332
unique,5332,2,5332,3945,5200,604,NaN,14,198,335,5321
top,s8,Movie,Sankofa,"Raúl Campos, Jan Suter",Samuel West,United States,NaN,TV-MA,94 min,"Dramas, International Movies",When pretty new neighbor Seema falls for their...
freq,1,5185,1,18,10,1846,NaN,1822,135,336,2
mean,NaN,NaN,NaN,NaN,NaN,NaN,2012.742123,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,9.625831,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,1942.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2011.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

In [99]:
#3) Answer to point 3)
# Non-Graphical Analysis: Value counts and unique attributes

#nt.value_counts()

In [ ]:
#There are 5332 rows with non null values by this

In [100]:
nt.shape

(5332, 12)

In [107]:
pd.unique(nt['show_id'])

array(['s8', 's9', 's10', ..., 's8805', 's8806', 's8807'], dtype=object)

In [111]:
nt['show_id'].nunique()

5332